usePos	true
useChunker	true
useLemmatizer  true
useNer	true
useNerExt	false
useStanfordParse true
forceCacheUpdate false
lemmaConfig config/lemma.config
cacheDirectory  annotation-cache-test
throwExceptionIfNotCached   false
cacheHeapSizeInMegabytes    100
cacheDiskSizeInMegabytes    200
setCacheShutdownHook   true
nerConllConfig   config/ner-conll.config